{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "rules": {
        "no-useless-escape": "off",
        "require-jsdoc": "off",
        "indent": "off",
        "linebreak-style": "off",
        "no-trailing-spaces": "off",
        "operator-linebreak": "off",
        "eol-last": "off",
        "max-len": "off",
        "new-cap": "off",
        "no-debugger": "off",
        "prettier/prettier": "error"
    },
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "prettier"]
}
